node_modules/
dist/
out/
.env
.env.local
.DS_Store
*.log
# **/README.md
package-lock.json
# Ignore the output video from Git but not videos you import into src/.
renders
src/assets/players/videos/
src/assets/players/shorts-videos/
